#contenedor {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    left: 0px;
    margin: 0 auto;
    width: 100%;
}

h1 {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 12px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 8px;
    padding-right: 30px;
}

nav {
    background-color: rgb(240, 134, 47);
    padding-right: 100%;
}

.colorLetra{
    color: black;
   
}

section {
    text-align: justify;
    width: 100%;
    margin-left: 0px;
    padding-right: 100%;
    padding-left: 12px;
    border-top: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

aside {
    padding-right: 100%;
    padding-left: 12px;
    width: 100%;
    text-align: justify;
}